<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Recommend Me</title>

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <h1>Recommend Me</h1>
        <form v-on:submit.prevent="getRecommendations">
            Input: <input v-model="inputSelection"></input>
            Type:
            <select v-model="typeSelection">
                <option disabled value=""></option>
                <option v-for="type in types"> {{ type }} </option>
            </select>
            <button type="submit">Submit</button>
        </form>
        <h2>Recommendations</h2>
        <ul>
            <li v-for="recommendation in recommendations">{{Name}} {{Type}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script text="type/javascript" src="script.js"></script>

</body>

</html>
