<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Recommend Me</title>

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="header">
        <h1>Recommend Me</h1>
    </div>
    <div id="app">
        <div id="main">
            <p id="explanation">Looking for a new book to read, movie to watch, song to listen to, or game to play? You're in the right place! In the fields below, enter the names of media you've enjoyed in the past. We'll recommend similar items that you are sure to enjoy!</p>
            <div v-for="(form, index) in forms">
                <div id="row"><input type="text" placeholder="Title" v-model="inputSelection[index]">
                    <select id="select-field" v-model='typeSelection[index]'>
                    <option disabled value="">Select type</option>
                    <option v-for='type in types'> {{ type }} </option>
                </select></div>
                <br>
            </div>
            <div id="buttons"><button v-on:click="addForm">Add New Search Item</button>
                <button v-on:click="getRecommendations">Submit</button>
                <button v-on:click="reset">Reset</button></div>
            <h2>Recommendations</h2>
            <div v-show='noRecommendations'>
                <p>No recommendations found. Check your spelling, or try a different search.</p>
            </div>
            <div v-show='limitExceded'>
                <p>Please try again later.</p>
            </div>
            <ul>
                <li v-for="recommendation in recommendations">{{recommendation.Name}} {{recommendation.Type}}</li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script text="type/javascript" src="script.js"></script>

</body>

</html>
