<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Recommend Me</title>

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <h1>Recommend Me</h1>
        <span>Title: </span>
        <form>
            <input v-model="titleValue">
            <span>Type: </span>
            <select v-model="typeSelection">
            <option disabled value=""></option>
        </select>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script text="type/javascript" src="script.js"></script>

</body>

</html>
