body {
    background-color: #F2F0F0;
    margin: 0px;
}

#main {
    width: 65%;
    margin: auto;
}

#header {
    width: 96%;
    background-color: #193D5A;
    padding: 15px 2%;
    margin: 0px;
    color: #FFAD00;
}

input {
    margin: 2px;
    padding: 5px;
    border: 2px solid #193D5A;
    background-color: #F2F0F0;
    color: #32292F;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #705D55;
}

select {
    padding: 5px;
    border: 2px solid #193D5A;
    background-color: #F2F0F0;
}

select:focus {
    outline: none;
}

option {
    color: #32292F;
}

option:checked {
    background-color: #A6E0B9;
}

option:hover {
    background-color: #A6E0B9;
}

button {
    padding: 5px;
    background-color: #193D5A;
    color: #F2F0F0;
    border: none;
}

#default {
    color: #32292F;
}

#explanation {
    text-align: center;
    margin: 15px 0px;
    padding: 15px;
    border: 5px solid #FFAD00;
    color: #01151A;
}

#row {
    width: 100%;
    text-align: center;
}

#buttons {
    text-align: center;
}

h1 {
    width: 68%;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0px;
}

h2 {
    color: #193D5A;
    border-bottom: 3px solid #193D5A;
}

h3 {
    color: #193D5A;
    border-bottom: 3px solid #FFAD00;
}

diff {
    color: #FFAD00;
}

.diff:hover {
    color: #F2F0F0;
}

a {
    color: #193D5A;
}

a:hover {
    color: #FFAD00;
}

#footer {
    font-size: 13px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98%;
    padding: 10px 1%;
    margin: 0px;
    background: #193D5A;
    color: #FFAD00;
}
