body {
    background-color: #705D55;
    margin: 0px;
    color: #F0F7F4;
}

#main {
    width: 65%;
    margin: auto;
}

#header {
    width: 96%;
    background-color: #96E1D9;
    padding: 15px 2%;
    margin: 0px;
    color: #F0F7F4;
}

input {
    padding: 5px;
    border: 2px solid #32292F;
    background-color: #6EABB0;
    color: #32292F;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #705D55;
}

select {
    padding: 5px;
    border: 2px solid #32292F;
    background-color: #6EABB0;
}

select:focus {
    outline: none;
    background-color: #6EABB0;
}

option {
    color: #32292F;
}

option:checked {
    background-color: #6EABB0;
}

option:hover {
    background-color: #96E1D9;
}

button {
    padding: 5px;
    border: 2px solid #32292F;
    background-color: #6EABB0;
    color: #32292F;
}

#default {
    color: #32292F;
}

#explanation {
    text-align: center;
    margin: 15px 0px;
    background-color: #96E1D9;
    padding: 15px;
    border-style: solid;
    border-color: #F0F7F4;
    color: #32292F;
}

#row {
    width: 100%;
    text-align: center;
}

#buttons {
    text-align: center;
}

h1 {
    width: 68%;
    margin: auto;
}

ul {
    list-style: none;
}
